<template>
  <div>
    <h1>tester home vue</h1>
    <h1>tester home vue</h1>
    <h1>tester home vue</h1>
    <h1>tester home vue</h1>
   <router-link to="/login">LoginPage</router-link>
  </div>
</template>

<script>

export default {
  name: 'HomeView',
  components: {
  
  }
}
</script>
