<template>
 <div>
   <v-main>
      <v-card width="500px" height="330px" class="mx-auto">
        <v-card-text>
          <v-card-title class="text--primary">login</v-card-title>
          <v-text-field 
            label="login" Model="addName" 
            placeholder="input login" outlined dense
            :rules="nameRules" :counter="15">
          </v-text-field>
          <span>level2</span>         
          <v-text-field 
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'" 
            label="Password" Model="addLastName" 
            placeholder="input password" outlined dense
            :rules="lastNameRUles" :counter="10" 
            @click:append="show = !show" :type="show ? 'text' : 'password'">
          </v-text-field>
          <v-checkbox v-model="Disabled" 
            color="success" label="Do you agree?" 
            class="ma-0">
          </v-checkbox>
          <div class="btns">
            <v-btn text >Clear</v-btn>
            <v-btn text :disabled= "!Disabled" @click="openPage"><router-link to="HomeView">submit</router-link></v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-main>
    <router-link to="HomeView">submit</router-link>
 </div>
</template>

<script>

  export default {
  name: 'LoginPage',
  components: {

  },
  data () {
    return {
      valid: true,
      show: false,
      addName: '',
      addLastName: '',
      Disabled: false,
      nameRules: [v => !!v || 'bu joyni to\'ldiring',
        v => (!!v && v.length <= 15) || '15tagacha belgidan foydalanishingiz mumkin',
        v => (!!v && v.length >= 4) || '4tadan ko\'p belgidan foydalanishingiz kerak'
      ],
      lastNameRUles: [
        v => !!v || 'bu joyni to\'ldiring',
        v => (!!v && v.length <= 10) || '10tagacha belgidan foydalanishingiz mumkin',
        v => (!!v && v.length >= 4) || '4tadan ko\'p belgidan foydalanishingiz kerak'
      ]
    }
  },
  methods: {
    openPage () {
      if(this.pass === 'salom') {
        this.$router.push({name: 'HomeView'})
      } 
      else { 
        this.errorMessage = 'Xato!'
      }
    }
  }
}
</script>

<style scoped>
  .btns {
    margin-left: 260px;
  }
  .mx-auto {
    margin: 100px auto;
  }
</style>
